# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
dev-client-builds/

# Native Folders (Managed Workflow)
# We ignore these so app.config.js remains the source of truth for EAS
android/
ios/

# Android Local & Sensitive
android/local.properties
android/.gradle
android/build
android/app/build
android/app/src/main/assets
*.keystore
!android/app/debug.keystore

# iOS Local & Cached
ios/build
ios/Pods
ios/DerivedData
*.ext.json

# Local Environment Secrets (SENSITIVE)
.env
.env.local
.env.production
.env.test
.env*.local
convex-env.tmp

# IDEs and Editors
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Logs & Temporary Files
logs
*.log
ts_errors.log
ts_output.txt
out.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache